<h2>会員一覧</h2>

<div class="row">
  <div class="col-xs-9">
  <table class="table">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |c|%>
        <tr>
          <td><%= c.id %></td>
          <td><%= link_to c.family_name_kanji + c.first_name_kanji,admin_customer_path(c) %></td>
          <td><%= c.email %></td>
          <td><%= c.is_status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>