<% unless customer_signed_in? %>
	<div class="row">

		<div class="col-xs-10">
			<p>ようこそ、NaganoCakeへ！<br>
				このサイトは、ケーキ販売のECサイトになります。<br>
				会員でない方も商品の閲覧はできますが、<br>
				購入には<%= link_to '会員登録',new_customer_registration_path %>が必要になります。</p>
		</div>

	</div>
<% end %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <%= render 'products/genre',genres: @genres %>

      <div class="col-xs-10">
        <h2>今週のおすすめ</h2>
        <%= render 'products/products',products: @products %>
      </div>

      <div class="pull-right"><%= link_to 'もっと見る>',products_path %></div>
    </div>
  </div>