// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store-info{
  margin:25px auto;
  background-color:#EEEEEE;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-table{
  padding:20px;
}