<div class="row">

  <%= render 'genre',genres: @genres %>

<div class="col-xs-10">

  <h1>商品一覧<small>(全<%= @products.count %>件)</small></h1>

  <%= render 'products',products: @products %>

</div>


</div>