<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <%= render 'genre',genres: @genres %>

    <div class="col-xs-10">
      <h2>'<%= @genre.name %>'の商品一覧<small>(全<%= @products.count %>件)</small></h2>
      <%= render 'products',products: @products %>
    </div>

  </div>
</div>